{% extends "base.html" %}
{% block title %}
<title>Vibe | Register Portal</title>
{% endblock %}
{% block style %}
<style>
.main{
    margin-left: 50%;
    transform: translate(-50%);
    }
#submit-button{
    float: right;
    }
#about{
  height: 60px;
}    
.input-textbox{
    border: none;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.10),0 2px 8px 0 rgba(0, 0, 0, 0.10);
    text-align: center;
    font-family: 'Abel', sans-serif;
    outline: none;
    background-color: rgb(252, 239, 250);
    margin-bottom: 10px;
}     
</style>
{% endblock %}
{% block navbar %}
<li class="nav-item"><a href="#" class="nav-link disabled" aria-current="page">Dashboard</a></li>
<li class="nav-item"><a href="#" class="nav-link disabled">Feed</a></li>
<li class="nav-item"><a href="#" class="nav-link disabled">Search</a></li>
<li class="nav-item"><a href="#" class="nav-link disabled">Settings</a></li>
{% endblock %}
{% block content %}
<div class="main mb-5">
<main>
    <div class="row g-5">
        <center>
            <b>REGISTER PANEL | VIBE</b><br><small>Enter the required details to get started</small>
        </center>
          <div class="row g-3">
            <div class="col-sm-6">
              <input type="text" class="form-control input-textbox" id="firstName" placeholder="First Name" value="" required>
            </div>

            <div class="col-sm-6">
              <input type="text" class="form-control input-textbox" id="lastName" placeholder="Last Name" value="" required>
            </div>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-text input-textbox">@</span>
                <input type="text" class="form-control input-textbox" id="username" placeholder="Username" required>
              </div>
            </div>

            <div class="col-sm-6">
                <div class="input-group">
                  <span class="input-group-text input-textbox">🗝️</span>
                  <input type="password" class="form-control input-textbox" id="password" placeholder="Password" required>
                </div>
              </div>

            <div class="col-12">
              <input type="email" class="form-control input-textbox" id="email" placeholder="Email Address: you@example.com" required>
            </div>

            <div class="col-12">
              <input type="text" class="form-control input-textbox" id="address" placeholder="Home Address: 1234 Example Sreet" required>
            </div>

            <div class="col-sm-6">
              <input type="text" class="form-control input-textbox" id="bhawan" placeholder="Bhawan Name">
            </div>
            <div class="col-sm-6">
                <select class="form-select input-textbox" id="gender" required>
                  <option value="">Choose Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
            <div class="col-md-5">
                <input type="text" class="form-control input-textbox" id="country" placeholder="Home Country">
            </div>

            <div class="col-md-4">
                <input type="text" class="form-control input-textbox" id="state" placeholder="Home State">
            </div>

            <div class="col-md-3">
              <input type="number" class="form-control input-textbox" id="zip" placeholder="Zip Code" required>
            </div>
            <div class="col-sm-6">
              <input type="number" class="form-control input-textbox" id="number" placeholder="Mobile NO. : 0123456789"required >
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control input-textbox" id="branch" placeholder="BRANCH"required >
            </div>
            <div class="col-12">
                    <textarea class="form-control input-textbox" placeholder = "Write About Yourself" aria-label="With textarea"></textarea>
            </div>
            </div>
          <button id = "reset" type="button" class="btn btn-dark btn-sm" onclick="reset()">Reset the Details</button>  
          <button class="w-100 btn btn-primary btn" type="submit" onclick="error()">Register Now!</button>
    </div>
  </main>
</div>
<script>
    function reset(){
        document.getElementById("firstName").value = "";
        document.getElementById("lastName").value = "";
        document.getElementById("gender").value = "";
    }

    function error(){
        if(document.getElementById("firstName").value.trim() == "" || document.getElementById("lastName").value.trim() == ""){
            alert("Please fill all the fields correctly.");
        }
    }
</script>
{% endblock %}